@media screen and (max-width:800px) {

    #first-menu {
        /* height: 30vh; */
        height: 85vh;
        width: 100vw;
        flex-wrap: wrap;
        /* display: flex; */
        margin: 5vh 0;
    }

    #main-nav {
        display: flex;
        width: 100vw;
    }


    .first-menu-items {
        margin: 20px 0;
    }

    #second-menu {
        width: 100vw;
        padding: 0;
        display: flex;
        margin: 5vh 0;
        flex-direction: column;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .second-menu-item {

        min-width: 90vw;
        min-height: 80vh;
        margin: 5vh 0;
        background-size: cover;
    }

    .second-menu-item-buttons {
        width: 100%;
        height: 24vh;

    }

    #second-hero {

        height: 50vh;
        width: 90vw;
        border-radius: 10px;
        margin: 10vh auto;
        position: relative;

    }

    #second-hero-img {
        background: url(./img/new-imgs/second-hero.jpg) center no-repeat;
        width: 100%;
        height: 30%;
        top: 0;

        position: absolute;
        background-size: cover;

    }

    #second-hero-text {
        position: absolute;
        bottom: 0;
        height: 70%;
        width: 100%;
        /* height: 100%; */
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: flex-start;

    }

    #second-hero-text h3 {
        font-family: "porsche";
        font-size: 2.2rem;
        min-width: 80vw;
        margin: 0;
    }

    #second-hero-text p {
        font-family: "porsche-light";
        min-width: 98%;

        margin: 0 2px;
    }

    #second-hero-text input {
        min-width: 50%;
        min-height: 9vh;
        border-radius: 20px;
        margin-left: 2vw;
    }

    #section-three {
        width: 100vw;
        height: 100vh;
        margin: 5vh auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .section-three-items {
        width: 90%;
        height: 30%;
    }

    footer h2 {
        font-size: 1.5rem;
        margin-bottom: 0;

    }

    .footer-menu-first-item {
        margin: 5vh 0;
        min-width: 100vw;
        height: 20vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .footer-menu-first-item h3 {
        font-size: 2rem;
    }

    .footer-menu-first-item p {
        font-size: 1.5rem;
    }

    .footer-menu-first-item>input {
        height: 8vh;
        width: 80vw;

    }

    footer {
        height: auto;
    }

    #footer-menu-second {
        margin: 5vh 0;


        flex-wrap: nowrap;
        flex-direction: column;

        justify-content: space-between;
        margin-left: 2px;
    }
}

#footer-p {
    margin: 2vh 0 0 0;
}

footer h1 {
    /* bottom: 10px; */
    /* width: 100vw; */
    width: 100%;
    text-align: center;
    /* position: absolute; */
    /* bottom: 5px; */
    margin: 2.5vh 0;
}